<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Serve static files -->
    <staticContent>
      <remove fileExtension=".shar" />
      <mimeMap fileExtension="." mimeType="application/octet-stream" />
    </staticContent>

    <!-- Handles Node.js with IIS using iisnode -->
    <!-- <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" resourceType="Unspecified" />
    </handlers>-->

    <!-- URL Rewrite rule to reverse proxy requests to the Node.js server -->
    <rewrite>
      <rules>
        <rule name="ReverseProxy" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="http://localhost:3002/{R:0}" />
        </rule>
      </rules>
    </rewrite>

    <!-- Optional: Enable logging to help troubleshoot -->
    <iisnode node_env="production" loggingEnabled="true" logDirectory="iisnode" debuggingEnabled="false" />
	
	<!--<staticContent>
	  <mimeMap fileExtension=".js" mimeType="application/javascript" />
	  <mimeMap fileExtension=".css" mimeType="text/css" />
	  <mimeMap fileExtension=".json" mimeType="application/json" />
	</staticContent>-->

<!-- Disable server-level open proxy, only allow specific rules -->
<proxy enabled="true" preserveHostHeader="false" reverseRewriteHostInResponseHeaders="false" />
 
  </system.webServer>
</configuration>
